{% macro form_sign_in_up(form, title, btn_class) %}
	<form class="form-sign-in-up" method="post">
		{{form.hidden_tag()}}
		<h2 class="form-sign-in-up-heading">{{ title }}</h2>

		{% for field in form %}

			{% if field.type in ('HiddenField', 'CSRFTokenField') %}
				{{ field() }}
			{% elif field.type == 'SubmitField' %}
			{% elif field.type == 'BooleanField' %}
				<div class="checkbox">
					<label>
						<input type="checkbox" id="{{ field.id }}" name="{{ field.name }}" value="{{ field.name }}"> {{ field.label.text }}
					</label>
				</div>
			{% else %}
				<div class="form-group {% if field.errors %}has-error{% endif %} {% if field.flags.required %}required{% endif %}">
					{% set input_type = 'text' %}
					{% if field.type == 'PasswordField' %}
						{% set input_type = 'password' %}
					{% endif %}
					<input type="{{ input_type }}" id="{{ field.id }}" name="{{ field.name }}" class="form-control" placeholder="{{ field.label.text }}" {% if field.flags.required %}required{% endif %} value="{% if field.data %}{{ field.data }}{% endif %}">
					{% for e in field.errors %}
						<p class="help-block">{{ e }}</p>
					{% endfor %}
				</div>
			{% endif %}

		{% endfor %}

		<button class="btn btn-lg btn-{{ btn_class }} btn-block" type="submit">{{ title }}</button>
	</form>
{% endmacro %}
