{% extends "bootstrap/base.html" %}

{% block title %}MyApp{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>

            </div>
            <div class="navbar-collapse collapse">
				{% if current_user.is_authenticated() %}
					<ul class="nav navbar-right">
						<a href="/logout">
							<button type="button" class="btn btn-danger navbar-btn">Logout</button>
						</a>
					</ul>
				{% else %}
					<ul class="nav navbar-right">
						<a href="/signup">
							<button type="button" class="btn btn-success navbar-btn">Sign Up</button>
						</a>
					</ul>

					<ul class="nav navbar-right">
						<a href="/signin">
							<button type="button" class="btn btn-default navbar-btn">Sign in</button>
						</a>
					</ul>
				{% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
