{% extends "base.html" %}

{% block title %}Flask with Bootstrap - Contact{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Contact</h1>
</div>
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}
{% endblock %}