{% extends "base.html" %}

{% block title %}Flask with Bootstrap - Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello friend!</h1>
</div>
<p>This is a simple example of <strong>Flask-Bootstrap</strong>.</p>
<p>For install, just make <kbd>pip install flask-bootstrap</kbd>.</p>
{% endblock %}